---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Written by {frontmatter.author}</p>
  <p>{frontmatter.pubDate.slice(0, 10)}</p>
  <p><em>{frontmatter.description}</em></p>
  <p>Written by: {frontmatter.author}</p>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <div>
    <p>Tags:</p>
    <ul>
      {frontmatter.tags.map((tag) => <li>{tag}</li>)}
    </ul>
  </div>
  <slot />
</BaseLayout>
